In [123]:
import re
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [124]:
original_string = "\u202aC:\\Users\\ACER\\Downloads\\Fraud.csv"
clean_string = re.sub(r'[^\x20-\x7E]', '', original_string)
print(clean_string)

C:\Users\ACER\Downloads\Fraud.csv

In [125]:
file_path = clean_string

In [126]:
dataset = pd.read_csv(file_path)

In [127]:
dataset.head(16)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.0,157982.12,0,0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.0,0.00,0,0
12,1,PAYMENT,2560.74,C1648232591,5070.00,2509.26,M972865270,0.0,0.00,0,0
13,1,PAYMENT,11633.76,C1716932897,10127.00,0.00,M801569151,0.0,0.00,0,0
14,1,PAYMENT,4098.78,C1026483832,503264.00,499165.22,M1635378213,0.0,0.00,0,0
15,1,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.0,51513.44,0,0

In [128]:
dataset.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [129]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [130]:
encoded_data = pd.get_dummies(dataset, columns=['type'])

In [131]:
encoded_data.isnull().sum()

step              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
type_CASH_IN      0
type_CASH_OUT     0
type_DEBIT        0
type_PAYMENT      0
type_TRANSFER     0
dtype: int64

In [132]:
encoded_data['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [133]:
encoded_data['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [134]:
legit = encoded_data[encoded_data.isFraud == 0]
fraud = encoded_data[encoded_data.isFraud == 1]

In [135]:
print(legit.shape)
print(fraud.shape)

(6354407, 15)
(8213, 15)

In [136]:
legit.amount.describe()

count    6.354407e+06
mean     1.781970e+05
std      5.962370e+05
min      1.000000e-02
25%      1.336840e+04
50%      7.468472e+04
75%      2.083648e+05
max      9.244552e+07
Name: amount, dtype: float64

In [137]:
fraud.amount.describe()

count    8.213000e+03
mean     1.467967e+06
std      2.404253e+06
min      0.000000e+00
25%      1.270913e+05
50%      4.414234e+05
75%      1.517771e+06
max      1.000000e+07
Name: amount, dtype: float64

In [138]:
encoded_data.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
isFraud,,,,,,,,,,,,
0,243.235663,1.781970e+05,8.328287e+05,855970.228109,1.101421e+06,1.224926e+06,0.000000,0.220207,0.351470,0.00652,0.338583,0.083220
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948,0.000000,0.501157,0.00000,0.000000,0.498843

In [139]:
#Build a sample dataset containing similar number of normal transactions and fraudulent transactions
#fraudulent transactions --> 8213

In [140]:
legit_sample = legit.sample(n = 8213)

In [141]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [142]:
new_dataset.head()

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
636787,35,1678692.20,C1428676557,203447.00,0.00,C647381922,681059.15,2359751.35,0,0,0,0,0,0,1
4209028,305,361008.13,C1281489561,22104028.72,22465036.85,C1638430893,1584330.87,1223322.74,0,0,1,0,0,0,0
6341150,692,14052.30,C767373937,10514.00,0.00,M802385715,0.00,0.00,0,0,0,0,0,1,0
358684,17,20633.53,C115082094,7287.00,0.00,M1391956505,0.00,0.00,0,0,0,0,0,1,0
4781810,335,7194.24,C262080609,305024.00,297829.76,M822033919,0.00,0.00,0,0,0,0,0,1,0

In [143]:
new_dataset['isFraud'].value_counts()

0    8213
1    8213
Name: isFraud, dtype: int64

In [144]:
new_dataset.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
isFraud,,,,,,,,,,,,
0,242.281505,1.677609e+05,8.513419e+05,873679.891136,1.088465e+06,1.200106e+06,0.000000,0.221235,0.350907,0.005844,0.339827,0.082187
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948,0.000000,0.501157,0.000000,0.000000,0.498843

In [145]:
#Splitting data into features and targets

In [146]:
X = new_dataset.drop(['nameOrig', 'nameDest', 'isFraud',], axis = 1)
Y = new_dataset['isFraud']

In [147]:
print(X)

         step      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
636787     35  1678692.20      203447.00            0.00       681059.15
4209028   305   361008.13    22104028.72     22465036.85      1584330.87
6341150   692    14052.30       10514.00            0.00            0.00
358684     17    20633.53        7287.00            0.00            0.00
4781810   335     7194.24      305024.00       297829.76            0.00
...       ...         ...            ...             ...             ...
6362615   743   339682.13      339682.13            0.00            0.00
6362616   743  6311409.28     6311409.28            0.00            0.00
6362617   743  6311409.28     6311409.28            0.00        68488.84
6362618   743   850002.52      850002.52            0.00            0.00
6362619   743   850002.52      850002.52            0.00      6510099.11

         newbalanceDest  isFlaggedFraud  type_CASH_IN  type_CASH_OUT  \
636787       2359751.35               0             0              0
4209028      1223322.74               0             1              0
6341150            0.00               0             0              0
358684             0.00               0             0              0
4781810            0.00               0             0              0
...                 ...             ...           ...            ...
6362615       339682.13               0             0              1
6362616            0.00               0             0              0
6362617      6379898.11               0             0              1
6362618            0.00               0             0              0
6362619      7360101.63               0             0              1

         type_DEBIT  type_PAYMENT  type_TRANSFER
636787            0             0              1
4209028           0             0              0
6341150           0             1              0
358684            0             1              0
4781810           0             1              0
...             ...           ...            ...
6362615           0             0              0
6362616           0             0              1
6362617           0             0              0
6362618           0             0              1
6362619           0             0              0

[16426 rows x 12 columns]

In [148]:
print(Y)

636787     0
4209028    0
6341150    0
358684     0
4781810    0
          ..
6362615    1
6362616    1
6362617    1
6362618    1
6362619    1
Name: isFraud, Length: 16426, dtype: int64

In [149]:
#Split the data into Training data and Testing data

In [150]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [151]:
print(X.shape, X_train.shape, X_test.shape)

(16426, 12) (13140, 12) (3286, 12)

In [152]:
#Logistic Regression model

In [153]:
model = LogisticRegression()

In [154]:
#training the logistic regression model with training data
model.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
#model evaluation, Accuracy score

In [155]:
#Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [158]:
print("Accuracy score on training data: ", training_data_accuracy)

Accuracy score on training data:  0.9027397260273973

In [157]:
#accuracy on test data
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [159]:
print("Accuracy score on test data: ", testing_data_accuracy)

Accuracy score on test data:  0.9035301278149727